@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #012443;
  color: #e2e8f0;
  font-family: system-ui, -apple-system, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #01304f;
}
::-webkit-scrollbar-thumb {
  background: #035380;
  border-radius: 3px;
}
